body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 30px;
    background-color: #d8d3ff;
    color: #2b283a;
    /* github style */
    /* background-color: #0d1117; */
    /* color: #e6edf3; */
}

h1 {
    font-size: 28px;
}

.link-wrapper {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

li {
    flex-grow: 1;
    /* padding: 6px 8px; */
    /* background: violet; */
}

a {
    background-color: #7730ce;
    color: #f0eeff;

    /* github style */
    /* background-color: #30363d;
    color: #e6edf3; */


    padding: 8px;
    /* ?we have this here to ensure gap vertical is applied */
    display: block;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
}

a:hover {
    box-shadow: 0 0 2px grey;
    /* background-color: rgb(201, 174, 201); */
    opacity: 0.95;
    scale: 1.01;
}

a:active {
    scale: 0.98;
}